<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>strava_athlete_name</key>
	<string></string>
	<key>strava_athlete_id</key>
	<string></string>
	<key>StravaClientID</key>
	<string>81681</string>
	<key>StravaClientSecret</key>
	<string>39dfd62e8c173a5c7a40328dcc6972788fe35efc</string>
</dict>
</plist>
