<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WahooClientID</key>
	<string>3-6biRn8ZTsqmyWX_IG3e4xAFtLpHu-fzydWx9txJrY</string>
	<key>WahooClientSecret</key>
	<string>r2h_pxc9_bUIyRpkx8jHcdhSqQBbwzCXTS_YMuo5VXc</string>
</dict>
</plist>
