<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WahooClientID</key>
	<string>BPfhDLHn2RqJp5LmOps9T-Pn9Y3IfBPZxuVn19XOlqE</string>
	<key>WahooClientSecret</key>
	<string>v0kZ80aZndQMHKQgxPkkU_gUZVraumldBwPaFrSMBaY</string>
</dict>
</plist>
